.page{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    background-color: #383838;
    color: #a0a0a0;
    overflow-y: auto;
    font-family: "Lato", serif;
}

.pageHeader{
    background-image: url('images/bg-mobile-dark.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;   
    height: 20dvh;
    text-align: center;
    justify-content: center;
    padding: 2dvh 4dvw 0 4dvw;
}

.pageHeaderTittle{
    text-align: left;
    color: antiquewhite;
    font-weight: 600;
    font-size: 1.5em;
    padding-bottom: 2.5dvh;
}

.pageHeaderInput{
    border-radius: 10px;
    padding: 1dvh 4dvw;
    width: 100%;
}

.pageMain{
    padding:0 4dvw;
}

.tasks{
    background-color: #191919;
    border: solid 1px whitesmoke;
    border-radius: 5px;
    margin-top: -4dvh;
}


.task {
    display: flex;
    justify-content: space-between;
    padding: 3dvh 1dvw;
    border-bottom: 1px solid whitesmoke;
}

.taskLeft {
    display: flex;
    padding-left: 2dvw;

}

.checkboxCustom{
    width: 20px;
    height: 20px    ;
    border: solid 1px rgb(160, 160, 160);
    border-radius: 50%;
}

.checkboxCustom.active{
    width: 20px;
    height: 20px    ;
    border: solid 1px rgb(160, 160, 160);
    border-radius: 50%;
    background: linear-gradient(-45deg, aqua, violet)
}

.taskTittle{
    padding-left: 1dvh;
    padding-top: .4dvh;
    text-align: center;
    font-weight: 600;
}

.deleteTaskButton {
    scale: .8;
    padding-right: 2dvw;
    cursor: pointer;
}

.tasksRemaining{
    display: flex;
    justify-content: space-between;
    padding: 3dvh 4dvw;
    color: #757575
}


.tasksContainerFooter{
    display: flex  ;
    padding: 1.5dvh 1dvw;
    justify-content: space-around;
}

.filtersButtons{
    background-color: #191919;
    border: solid 1px whitesmoke;
    border-radius: 5px;
    display: flex  ;
    padding: 1.5dvh 1dvw;
    justify-content: space-around;
    margin: 4dvh 0;
    padding: 2dvh 0;
}

.filterButton{
    cursor: pointer;
}

.dropContainer{
    text-align: center;
}